{% extends 'base.html' %}

{% block title %}
工作节点
{% endblock %}

{% block content %}
<table class="table table-hover table-striped table-bordered" style="text-align: center;">
        <tr id="ids">
            <td class="info">节点总数</td>
            <td class="info">{{ node_nums }}</td>
        </tr>
</table>

<div class="row">
    {% for node in node_list %}
        <div class="col-md-6">
            <table class="table table-hover table-striped table-bordered" style="text-align: center;">
                <tr>
                    <td>节点ID</td>
                    <td colspan="3">{{ node['macid'] }}</td>
                </tr>
                <tr>
                    <td>主机名</td>
                    <td colspan="3">{{ node['hostname'] }}</td>
                <tr>
                    <td>系统</td>
                    <td colspan="3">{{ node['platform'] }}</td>
                <tr>
                    <td>IP列表</td>
                    <td colspan="3">{{ node['ips'] }}</td>
                <tr>
                    <td>远程IP</td>
                    <td colspan="3">{{ node['rpcip'] }}</td>
                </tr>
                <tr>
                    <td>任务名</td>
                    <td colspan="3">{{ node['taskname'] }}</td>
                </tr>
                <tr>
                    <td>任务说明</td>
                    <td colspan="3">{{ node['taskdescription'] }}</td>
                </tr>
                <tr>
                    <td>进程数</td>
                    <td colspan="3">{{ node['workers'] }}</td>
                </tr>
                <tr>
                    <td>操作</td>
                    <td><a href="{{ url_for('node_info', macid=node['macid']) }}"
                           class="btn btn-info">详细</a></td>
                    <td>
                        <form action="{{ url_for('node_stop_all', macid=node['macid']) }}" method="post">
                            <input class="btn btn-default" type="submit" value="停止所有进程" onclick="return confirm('确认停止节点{{ node['hostname'] }}的所有进程吗?');">
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('node_delete', macid=node['macid']) }}" method="post">
                            <input class="btn btn-danger" type="submit" value="删除" onclick="return confirm('确认删除节点{{ node['hostname'] }}吗?');">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block extrascript %}
    <script>
    $(function(){
        $('.nav-justified>li').eq(1).addClass('active');
    })
    </script>
{% endblock %}